.friend-list {
  list-style: none;
  width: 400px;
}

.friend-list .item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
  box-shadow: 3px 1px 5px rgba(215, 168, 168, 0.305);
  background-color: rgba(219, 219, 219, 0.171);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.item .avatar {
  width: 100px;
  height: 100px;
  background-color: silver;
  border-radius: 10px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status--isOnline {
  background-color: green;
}

.status--isOfline {
  background-color: red;
}

.item .name {
  font-size: 30px;
  font-weight: 500;
}
